@charset "utf-8";
/* CSS Document */



.box{
  background-color: #FFF;
  width: 500px;
  height: 200px;
}


.centered
{
    text-align:center;
}


.score{
  font-size: 160pt;
  background: #2DAAE1; 
  width: 270px;
  color: #FFFFFF;
}


.clear-padding{
  padding:0px;

}

.clear-margins{
  margin:0px;
}

.ul-margin{
  margin: 10px;
}

.score-container{
  width: 270px;
  height: 160pt;

}

.mountain-panel{
  margin: 12pt;
}

.nokern{
  line-height: 160pt;
}


.float-right{
  float: right;
}

 html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.conditions-panel{
  background: #FFFFFF;
  font-size: 18pt;
  height: 160pt;
}


li{
  margin-top: 11pt;
  margin-bottom: 11pt;
}







/* Mountain Menu Styling */



.menu_div ul
{
    padding:0px;
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    list-style:none;
    text-indent:15px;
    overflow-x: hidden;
}
.menu_div ul li
{
    background:#FFFFFF;
    line-height:28px;
    border-bottom:1px solid #999999;
    padding:0px;
    margin:0px;

}
.menu_div ul li a
{
    text-decoration:none;
    color:#FFF;
    display:block;
    padding:0px;
    margin:0px;
    color: #000;
    border-bottom:1px solid #999999;

}
.menu_div ul li a:hover
{
    background:#2DAAE1;

}
.menu_div ul li#active
{
    background:#FFF;
    font-size: 20px;

}

#add-margin{
  margin-right: 10px ;
}

